 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="color: #ffffff;">About</h2>
                    <!-- <hr class="star-light"> -->
                    <img class="img-logo" src="img/signature_white.png" alt="Signature">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p style="color: #ffffff;">Enjoy the balconies.</p>
                </div>
                <div class="col-lg-4">
                    <p style="color: #ffffff;">Please fill in the form below if you want to get in contact with me. Sarah :) </p>
                </div>
            </div>
        </div>
    </section>