 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="color: #ffffff;">About</h2>
                    <!-- <hr class="star-light"> -->
                    <img class="img-logo" src="../../img/signature_white.png" alt="Signature">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p style="color: #ffffff;">Hi, my name is Maryna, I´m illustrator, graphic artist and user experiens designer.</p>
                </div>
                <div class="col-lg-4">
                    <p style="color: #ffffff;">Plese contact me if you would like to colaborate. My mail - chervinskam@gmail.com :)</p>
                </div>
            </div>
        </div>
    </section>